<div class="fixed w-screen bg-teal-900 left-0 top-0 h-100">
  <div class="grid grid-nogutter text-800">
    <div class="col-6 hidden md:flex overflow-hidden">
      <img src="assets/emergency/loginhelper.png" alt="Image" class="md:mr-auto block md:h-full"
        style="max-height: 100vh;clip-path: polygon(0 0, 86% 0%, 100% 100%, 0 100%)">
    </div>
    <div class="col-12 md:col-6 text-center pl-8 flex align-items-center">
      <p-card header="AOP Emergency Console" subheader="Login with .env credentials">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="field m-2 px-5 py-3">
            <span class="p-float-label">
              <input type="text" pInputText formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              <label for="float-input">Username</label>
              <small *ngIf="submitted && f.username.errors" class="p-error block">Username is required</small>
            </span>
          </div>
          <div class="field m-2 px-5 py-3">
            <span class="p-float-label">
              <input type="password" pInputText formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <label class="form-label">Password</label>
              <small *ngIf="submitted && f.password.errors" class="invalid-feedback">Password is required</small>
            </span>
          </div>
          <p-footer>
            <div class="flex flex-row-reverse flex-wrap card-container">
              <button pButton [disabled]="loading" label="Login">
                <i *ngIf="loading" class="pi pi-spin pi-spinner"> </i>
              </button>
            </div>
          </p-footer>
        </form>
      </p-card>
    </div>

  </div>
</div>
