<div class="min-h-screen flex surface-ground">
    <div id="app-sidebar-1"
      class="surface-section h-screen hidden lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 border-right-1 surface-border select-none"
      style="max-width:280px">
      <div class="flex flex-column h-full">
        <div class="flex align-items-center" style="max-height:60px">
          <img src="assets/emergency/logo.png" alt="Image" width="100%">
        </div>
        <div class="overflow-y-auto">
          <ul class="list-none p-3 m-0">
            <li>
              <div pRipple class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer"
                pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
                leaveActiveClass="slideup">
                <span class="font-medium">APPLICATION</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li>
                  <a pRipple
                  class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                  <i class="pi pi-home mr-2"></i>
                  <span routerLink="/console" class="font-medium">Dashboard</span>
                  </a>
                </li>
                <li>
                  <a pRipple
                    class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                    <i class="pi pi-user mr-2"></i>
                    <span class="font-medium" routerLink="/console/admin">Emergency Access</span>
                  </a>
                </li>
                <li>
                  <a pRipple (click)="logout()"
                    class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                    <i class="pi pi-sign-out mr-2"></i>
                    <span class="font-medium">Logout</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="min-h-screen flex flex-column relative flex-auto">
      <div
        class="flex justify-content-between align-items-center px-5 surface-0 border-bottom-1 surface-border relative lg:static"
        style="height:60px">
        <div  class="flex">
          <a pRipple class="cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3"
            pStyleClass="#app-sidebar-1" enterClass="hidden" enterActiveClass="fadeinleft" leaveToClass="hidden"
            leaveActiveClass="fadeoutleft" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-4xl"></i>
          </a>
          <span *ngIf="false" class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText class="border-none w-10rem sm:w-20rem" placeholder="Search">
          </span>
        </div>
        <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
          enterActiveClass="fadein" leaveToClass="hidden" leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
          <i class="pi pi-ellipsis-v text-2xl"></i>
        </a>
        <ul
          class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row
                surface-section border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static">
          <li>
            <a pRipple class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer
                        transition-duration-150 transition-colors">
              <i class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i>
              <span class="block lg:hidden font-medium">Inbox</span>
            </a>
          </li>
          <li>
            <a pRipple class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer
                        transition-duration-150 transition-colors">
              <i class="pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0" pBadge severity="danger"></i>
              <span class="block lg:hidden font-medium">Notifications</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="p-5 bg-primary flex-auto grid-nogutter">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>